extends ../layout

block content
    h3.mt-5 #{alumno.nombre} #{alumno.apellidos}
    p Edad: #{alumno.edad}
    p Email: #{alumno.email}
    p Nota Media: #{alumno.notamedia}
    p Matrícula: #{alumno.matricula}
    p Discapacidad #{alumno.discapacidad}
    p Sexo: #{alumno.sexo}